<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.customersMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.customers" >
    <id column="CustomerID" property="customerid" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="ContactName" property="contactname" jdbcType="VARCHAR" />
    <result column="ContactTitle" property="contacttitle" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="Region" property="region" jdbcType="VARCHAR" />
    <result column="PostalCode" property="postalcode" jdbcType="VARCHAR" />
    <result column="Country" property="country" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Fax" property="fax" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, 
    Country, Phone, Fax
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.customersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from customers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customers
    where CustomerID = #{customerid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customers
    where CustomerID = #{customerid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.customers" >
    insert into customers (CustomerID, CompanyName, ContactName, 
      ContactTitle, Address, City, 
      Region, PostalCode, Country, 
      Phone, Fax)
    values (#{customerid,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contacttitle,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.customers" >
    insert into customers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        CustomerID,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="contactname != null" >
        ContactName,
      </if>
      <if test="contacttitle != null" >
        ContactTitle,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="region != null" >
        Region,
      </if>
      <if test="postalcode != null" >
        PostalCode,
      </if>
      <if test="country != null" >
        Country,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="fax != null" >
        Fax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contacttitle != null" >
        #{contacttitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.customersExample" resultType="java.lang.Integer" >
    select count(*) from customers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.customers" >
    update customers
    <set >
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        ContactName = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contacttitle != null" >
        ContactTitle = #{contacttitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        Region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        PostalCode = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        Country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        Fax = #{fax,jdbcType=VARCHAR},
      </if>
    </set>
    where CustomerID = #{customerid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.customers" >
    update customers
    set CompanyName = #{companyname,jdbcType=VARCHAR},
      ContactName = #{contactname,jdbcType=VARCHAR},
      ContactTitle = #{contacttitle,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      Region = #{region,jdbcType=VARCHAR},
      PostalCode = #{postalcode,jdbcType=VARCHAR},
      Country = #{country,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Fax = #{fax,jdbcType=VARCHAR}
    where CustomerID = #{customerid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultType="com.example.model.customers">
    select * from customers
  </select>

</mapper>