<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.productsMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.products" >
    <id column="ProductID" property="productid" jdbcType="INTEGER" />
    <result column="ProductName" property="productname" jdbcType="VARCHAR" />
    <result column="SupplierID" property="supplierid" jdbcType="INTEGER" />
    <result column="CategoryID" property="categoryid" jdbcType="INTEGER" />
    <result column="QuantityPerUnit" property="quantityperunit" jdbcType="VARCHAR" />
    <result column="UnitPrice" property="unitprice" jdbcType="DECIMAL" />
    <result column="UnitsInStock" property="unitsinstock" jdbcType="SMALLINT" />
    <result column="UnitsOnOrder" property="unitsonorder" jdbcType="SMALLINT" />
    <result column="ReorderLevel" property="reorderlevel" jdbcType="SMALLINT" />
    <result column="Discontinued" property="discontinued" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, 
    UnitsOnOrder, ReorderLevel, Discontinued
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from products
    where ProductID = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from products
    where ProductID = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.model.products" >
    insert into products (ProductID, ProductName, SupplierID, 
      CategoryID, QuantityPerUnit, UnitPrice, 
      UnitsInStock, UnitsOnOrder, ReorderLevel, 
      Discontinued)
    values (#{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{supplierid,jdbcType=INTEGER}, 
      #{categoryid,jdbcType=INTEGER}, #{quantityperunit,jdbcType=VARCHAR}, #{unitprice,jdbcType=DECIMAL}, 
      #{unitsinstock,jdbcType=SMALLINT}, #{unitsonorder,jdbcType=SMALLINT}, #{reorderlevel,jdbcType=SMALLINT}, 
      #{discontinued,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.products" >
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        ProductID,
      </if>
      <if test="productname != null" >
        ProductName,
      </if>
      <if test="supplierid != null" >
        SupplierID,
      </if>
      <if test="categoryid != null" >
        CategoryID,
      </if>
      <if test="quantityperunit != null" >
        QuantityPerUnit,
      </if>
      <if test="unitprice != null" >
        UnitPrice,
      </if>
      <if test="unitsinstock != null" >
        UnitsInStock,
      </if>
      <if test="unitsonorder != null" >
        UnitsOnOrder,
      </if>
      <if test="reorderlevel != null" >
        ReorderLevel,
      </if>
      <if test="discontinued != null" >
        Discontinued,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="quantityperunit != null" >
        #{quantityperunit,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="unitsinstock != null" >
        #{unitsinstock,jdbcType=SMALLINT},
      </if>
      <if test="unitsonorder != null" >
        #{unitsonorder,jdbcType=SMALLINT},
      </if>
      <if test="reorderlevel != null" >
        #{reorderlevel,jdbcType=SMALLINT},
      </if>
      <if test="discontinued != null" >
        #{discontinued,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.products" >
    update products
    <set >
      <if test="productname != null" >
        ProductName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null" >
        SupplierID = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        CategoryID = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="quantityperunit != null" >
        QuantityPerUnit = #{quantityperunit,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        UnitPrice = #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="unitsinstock != null" >
        UnitsInStock = #{unitsinstock,jdbcType=SMALLINT},
      </if>
      <if test="unitsonorder != null" >
        UnitsOnOrder = #{unitsonorder,jdbcType=SMALLINT},
      </if>
      <if test="reorderlevel != null" >
        ReorderLevel = #{reorderlevel,jdbcType=SMALLINT},
      </if>
      <if test="discontinued != null" >
        Discontinued = #{discontinued,jdbcType=BIT},
      </if>
    </set>
    where ProductID = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.products" >
    update products
    set ProductName = #{productname,jdbcType=VARCHAR},
      SupplierID = #{supplierid,jdbcType=INTEGER},
      CategoryID = #{categoryid,jdbcType=INTEGER},
      QuantityPerUnit = #{quantityperunit,jdbcType=VARCHAR},
      UnitPrice = #{unitprice,jdbcType=DECIMAL},
      UnitsInStock = #{unitsinstock,jdbcType=SMALLINT},
      UnitsOnOrder = #{unitsonorder,jdbcType=SMALLINT},
      ReorderLevel = #{reorderlevel,jdbcType=SMALLINT},
      Discontinued = #{discontinued,jdbcType=BIT}
    where ProductID = #{productid,jdbcType=INTEGER}
  </update>
</mapper>