<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wms.mapper.staff_typeMapper" >
  <resultMap id="BaseResultMap" type="com.wms.model.staff_type" >
    <id column="Number" property="number" jdbcType="INTEGER" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Number, Type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staff_type
    where Number = #{number,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="com.wms.model.staff_type">
select * from staff_type;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff_type
    where Number = #{number,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wms.model.staff_type" >
    insert into staff_type (Number, Type)
    values (#{number,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wms.model.staff_type" >
    insert into staff_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        Number,
      </if>
      <if test="type != null" >
        Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wms.model.staff_type" >
    update staff_type
    <set >
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where Number = #{number,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wms.model.staff_type" >
    update staff_type
    set Type = #{type,jdbcType=VARCHAR}
    where Number = #{number,jdbcType=INTEGER}
  </update>
</mapper>